
<footer class="footer">
    <div class="footer-inner panel">
        <div class="footer-links flex flex-wrap flex-center panel-inset m0">
            <a href="https://github.com/HEROgold/FactorioServerManager">Source code</a>
            <span class="separator">|</span>
            <a href="">Discord Server</a>
        </div>
        <div class="footer-rocket panel-inset m0 p0">
            <div id="rocket" class="rocket"></div>
            <div class="shadow-overlay"></div>
            <div class="shadow-overlay-bottom"></div>
        </div>
        <div class="footer-copyright panel-inset m0">
            <p>Disclaimer: This website is not associated with Factorio. We solely use their API to fulfill the required functionality of this website.
            </p>
        </div>
    </div>
</footer>
