{% block header %}
<header class="header">
    <div class="header-inner">
        <a href="https://factorio.com" class="header-logo">
            <img src="https://cdn.factorio.com/assets/img/web/factorio-logo.png" alt="Factorio Logo">
        </a>
    </div>
</header>
{% endblock header %}
