<div class="panel-inset-lighter mb12">
    <div style="display: flex; align-items: center;">
        <h3 style="margin-right: 10px;">Status</h3>
        <a class="button button-ghost" style="margin-left: auto;"
            href="{{ url_for('server.logs', name=server.name) }}">Logs</a>
        <a class="button button-ghost" style="margin-left: 8px;"
            href="{{ url_for('server.rcon', name=server.name) }}" target="_blank" rel="noreferrer">RCON</a>
        <a style="height: 50%; margin-left: 8px;" href="#"
            onclick="copyToClipboard('{{ server.ip }}:{{ server.port }}')" class="button">Copy
            {{server.ip}}:{{server.port}}</a>
    </div>
    <div hx-sse="connect:{{ url_for('server.status', name=server.name) }}">
        <h4><strong hx-sse="swap:serverStatusUpdate">{{ server.status }}</strong></h4>
    </div>
    <br>
    <div>
        {# TODO: add status things like connected players, running data, playtime, ups, etc. #}
        {# https://htmx.org/attributes/hx-sse/ #}
        <a hx-post="{{ url_for('server.start', name=server.name) }}" hx-swap="none" hx-trigger="click throttle:10s"
            class="button">
            Start
        </a>
        <a hx-post="{{ url_for('server.stop', name=server.name) }}" hx-swap="none" hx-trigger="click throttle:10s"
            class="button">
            Stop
        </a>
        <a hx-post="{{ url_for('server.restart', name=server.name) }}" hx-swap="none" hx-trigger="click throttle:10s"
            class="button">
            Restart
        </a>
    </div>
</div>
<script src="{{ url_for('static', filename='js/clipboard.js') }}"></script>
