{% extends "base.j2" %}

{% block title %}{{ server.name }}{% endblock %}


{% block content %}
<div class="container-inner">
  <div id="flashed-messages" class="small-center"></div>
  {% include "noscript.j2 "%}
  <div class="medium-center">
    <div class="panel mb64 pb0 m0 flex-grow flex flex-column">
      <h2>{{ server.name }}</h2>
      <div class="server-subnav">
        <a class="button button-ghost" href="{{ url_for('mods.index', name=server.name) }}">Open Mod Manager</a>
      </div>
      <a href="{{ url_for('server.delete', name=server.name) }}"
        onclick="event.preventDefault(); if(confirm('Are you sure?')) { window.location = this.href; }"
        class="button button-red">
        Delete Server
      </a>
      <div class="panel-inset-lighter mb12">
        {% include "components/server/status_box.j2" %}
        <br>
        {% include "components/server/settings_box.j2" %}
      </div>
    </div>
  </div>
</div>


{% endblock %}