{% extends "base.j2" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-inner">
    <div id="flashed-messages" class="small-center"></div>
    {% include "noscript.j2 "%}
    <div class="medium-center">
        <div class="panel mb64 pb0 m0 flex-grow flex flex-column">
            <h2>Dashboard</h2>
            <div class="panel-inset-lighter mb12">
                {% for route in routes %}
                    <h3><a href="{{ url_for(route['path']) }}">{{ route['name'] }}</a></h3>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
