{% extends "base.j2" %}

{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="container-inner">
    <div id="flashed-messages" class="small-center"></div>
    {% include "noscript.j2 "%}
    <div class="medium-center">
        <div class="panel mb64 pb0 m0 flex-grow flex flex-column">
            <h2>Server Manager</h2>
            <div class="panel-inset-lighter mb12">
                <h3>Install</h3>
                <form method="post" action="{{ url_for('dashboard.install_server', name=server_name) }}">
                    {{ form.hidden_tag() }}
                    {{ form.name.label }}
                    {{ form.name }}
                    <br>
                    {{ form.file.label }}
                    {{ form.file }}
                    <br>
                    {{ form.port.label }}
                    {{ form.port }}
                    {{ form.submit }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
