{% extends "base.j2" %}

{% block title %}{{ name }}{% endblock %}


{% block content %}
<div class="container-inner">
    <div id="flashed-messages" class="small-center"></div>
    {% include "noscript.j2 "%}
    <div class="medium-center">
        <div class="panel mb64 pb0 m0 flex-grow flex flex-column">
            <h2>{{ name }}</h2>
            <div class="panel-inset-lighter mb12">
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
