{% block navbar %}
<nav id="top" class="top-bar">
    <div class="top-bar-inner">
        <div class="sites links flex-items-baseline">
            <ul>
                <li><a href="/">Home Page</a></li>
                <span class="separator separator-blue">|</span>
                <li><a href="{{ url_for('dashboard.index')}}">Dashboard</a></li>
            </ul>
        </div>
        <div class="user-controls links flex flex-items-baseline flex-end">
            <div class="authenticated-controls">
            {% if current_user.is_authenticated %}
                <a href="{{url_for('dashboard.index')}}">{{ current_user.display_name }}</a>
                <span class="separator separator-blue">|</span>
                <a href="{{url_for('login.logout')}}">Log out</a>
            {% else %}
                <a href="{{url_for('login.login')}}">Log in</a>
            {% endif %}
            </div>
        </div>
    </div>
</nav>
{% endblock navbar %}
